---
hostname: RT1-St

l3_interfaces:
  - name: Loopback0
    description: "Multimedia Network"
    ipv4: 
      address: 172.20.12.193
      prefix: 26
    ipv6:
      address: "2001:C::1/64"

  - name: Loopback1
    description: "Design Network"
    ipv4:
      address: 172.20.12.129
      prefix: 26
    ipv6:
      address: "2001:C:0:1::1/64"

  - name: Loopback2
    description: "Communication Network"
    ipv4:
      address: 172.20.12.65
      prefix: 26
    ipv6:
      address: "2001:C:0:2::1/64"

subinterfaces:
  - parent: "{{ rInt['Gig0/1'] }}"
    vlan: 5
    description: "Trunk for Vlan 5 APs"
    ipv4:
      address: 172.20.12.25
      prefix: 29
    ipv6:
      address: "2001:C:0:6::1/64"

  - parent: "{{ rInt['Gig0/1'] }}"
    vlan: 6
    description: "Trunk for Vlan 6 Management"
    ipv4:
      address: 172.20.12.17
      prefix: 29
    ipv6:
      address: "2001:C:0:7::1/64"
  
  - parent: "{{ rInt['Gig0/1'] }}"
    vlan: 30
    description: "Trunk for Vlan 30 Staff"
    ipv4:
      address: 172.20.13.129
      prefix: 25
    ipv6:
      address: "2001:C:0:3::1/64"
      dhcpv6_pool: "Staff-v6"
  
  - parent: "{{ rInt['Gig0/1'] }}"
    vlan: 50
    description: "Trunk for Vlan 50 Wireless"
    ipv4:
      address: 172.20.13.1
      prefix: 25
    ipv6:
      address: "2001:C:0:4::1/64"
      dhcpv6_pool: "Wireless-St-v6"
  
  - parent: "{{ rInt['Gig0/1'] }}"
    vlan: 60
    description: "Trunk for Vlan 60 Guests"
    ipv4: 
      address: 172.20.12.33
      prefix: 27
    ipv6:
      address: "2001:C:0:5::1/64"
      dhcpv6_pool: "Guests-St-v6"
  
  - parent: "{{ rInt['Gig0/2'] }}"
    vlan: 103
    description: "Connection to RT1-Zg"
    ipv4:
      address: 10.0.0.6
      prefix: 30
    ipv6:
      address: "FE80::103:2"
      link_local: True
  
  - parent: "{{ rInt['Gig0/2'] }}"
    vlan: 203
    description: "Connection to RT1-St"
    ipv4:
      address: 10.0.0.10
      prefix: 30
    ipv6:
      address: "FE80::203:2"
      link_local: True

  - parent: "{{ rInt['Gig0/2'] }}"
    vlan: 6
    description: "Management RT1-St"
    ipv4:
      address: 10.0.0.20
      prefix: 29
    ipv6:
      address: "FE80::6:2"
      link_local: True

dhcp_pools:
  - name: Staff
    network:
      address: 172.20.13.128
      netmask: 255.255.255.128
    gateway:
      default_router: 172.20.13.129
    excluded:
      start: 172.20.13.128
      end: 172.20.13.133
  
  - name: Wireless-St
    network: 
      address: 172.20.13.0
      netmask: 255.255.255.128
    gateway:
      default_router: 172.20.13.1
    excluded:
      start: 172.20.13.0
      end: 172.20.13.5
  
  - name: Guests-St
    network: 
      address: 172.20.12.32
      netmask: 255.255.255.224
    gateway:
      default_router: 172.20.12.33
    excluded:
      start: 172.20.12.32
      end: 172.20.12.37

dhcpv6_pools:
  - name: Staff-v6
    prefix: "2001:C:0:3::/64"
  
  - name: Wireless-St-v6
    prefix: "2001:C:0:4::/64"
  
  - name: Guests-St-v6
    prefix: "2001:C:0:5::/64"

static_routes:
  # Default routes
  - dest: "0.0.0.0"
    prefix: 0
    next_hop: "10.0.0.5"
    ad: 5
  - dest: "0.0.0.0"
    prefix: 0
    next_hop: "10.0.0.9"
    ad: 10
  
  # Zagreb network
  - dest: "172.20.0.0"
    prefix: 21
    next_hop: "10.0.0.5"
    ad: 1
  - dest: "172.20.0.0"
    prefix: 21
    next_hop: "10.0.0.9"
    ad: 5
  
  # Pula network
  - dest: "172.20.8.0"
    prefix: 22
    next_hop: "10.0.0.9"
    ad: 1
  - dest: "172.20.8.0"
    prefix: 22
    next_hop: "10.0.0.5"
    ad: 5
