---
- name: Deploy Multi Layer Devices (MLS)
  hosts: layer23
  gather_facts: no

  pre_tasks:
    - import_tasks: preTasks.yml

  tasks:
    - name: Configure Vlans
      cisco.ios.ios_vlans:
        config:
          - name: "{{ item.name }}"
            state: active
            shutdown: disabled
            vlan_id: "{{ item.id }}"
        state: merged
      loop: "{{ vlans }}"
      when: vlans is defined
      tags: vlans

    - name: SVI Interfaces - General
      cisco.ios.ios_interfaces:
        config:
          - name: "Vlan{{ item.vlan_id }}"
            description: "{{ item.description }}"
            enabled: True
        state: merged
      loop: "{{ svis }}"
      when: svis is defined
      tags: svis

    - name: SVI Interfaces - IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "Vlan{{ item.vlan_id }}"
            ipv4:
              - address: "{{ item.ipv4.address }}/{{ item.ipv4.prefix }}"
            ipv6: 
              - address: "{{ item.ipv6.address | default(omit) }}"
                link_local: "{{ item.ipv6.link_local if item.ipv6.link_local is defined else omit }}"
        state: merged
      loop: "{{ svis }}"
      when: svis is defined
      tags: svis

    - name: SVI Interfaces - DHCP Helper Address
      cisco.ios.ios_config:
        parents: "interface Vlan{{ item.vlan_id }}"
        lines:
          - "ip helper-address {{ item.ipv4.helper_address }}"
      loop: "{{ svis }}"
      when: item.ipv4.helper_address is defined
      tags: dhcp_helper

    - name: SVI Interfaces - IPv6 ND Flags
      cisco.ios.ios_config:
        parents:
          - "interface Vlan{{ item.vlan_id }}"
        lines:
          - "ipv6 nd managed-config-flag"
          - "ipv6 nd other-config-flag"
      loop: "{{ svis }}"
      when: item.ipv6.nd_flags is defined
      tags: dhcpv6_flags

    - name: SVI Interfaces - HSRP IPv4
      cisco.ios.ios_config:
        parents:
          - "interface Vlan{{ item.vlan_id }}"
        lines:
          - "standby version 2"
          - "standby {{ item.hsrp.ipv4.group }} ip {{ item.hsrp.ipv4.address }}"
          - "standby {{ item.hsrp.ipv4.group }} priority {{ item.hsrp.priority }}"
          - "standby {{ item.hsrp.ipv4.group }} preempt"
      loop: "{{ svis }}"
      when: item.hsrp.ipv4 is defined
      tags: hsrp

    - name: SVI Interfaces - HSRP IPv6
      cisco.ios.ios_config:
        parents:
          - "interface Vlan{{ item.vlan_id }}"
        lines:
          - "standby {{ item.hsrp.ipv6.group }} ipv6 autoconfig"
          - "standby {{ item.hsrp.ipv6.group }} priority {{ item.hsrp.priority }}"
          - "standby {{ item.hsrp.ipv6.group }} preempt"
      loop: "{{ svis }}"
      when: item.hsrp.ipv6 is defined
      tags: hsrpv6
      
    - name: L3 Interfaces - General
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.name }}"
            description: "{{ item.description }}"
            mode: layer3
            enabled: True
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: L3 Interfaces - IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "{{ item.name }}"
            ipv4:
              - address: "{{ item.ipv4.address }}/{{ item.ipv4.prefix }}"
            ipv6:
              - address: "{{ item.ipv6.address | default(omit) }}"
                link_local: "{{ item.ipv6.link_local if item.ipv6.link_local is defined else omit }}"
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: L2 Interfaces - General
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.name }}"
            description: "{{ item.description | default(omit) }}"
            mode: layer2
            enabled: True
        state: merged
      loop: "{{ l2_interfaces }}"
      when: item.name not in (management_interface | default([]))
      tags: l2_interfaces

    - name: Trunk Ports - Force encapsulation dot1q
      cisco.ios.ios_config:
        parents:
          - "interface {{ item.name }}"
        lines:
          - "switchport trunk encapsulation dot1q"
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Trunk Ports - Allowed Vlans
      cisco.ios.ios_l2_interfaces:
        config:
          - name: "{{ item.name }}"
            mode: trunk
            trunk:
              native_vlan: "{{ item.trunk.native_vlan }}"
              allowed_vlans: "{{ item.trunk.allowed_vlans }}"
              encapsulation: dot1q
        state: merged
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Trunk Ports - Deactivate DTP
      cisco.ios.ios_config:
        parents: "interface {{ item.name }}"
        lines:
          - "switchport nonegotiate"
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Unused Interfaces - Vlan
      cisco.ios.ios_l2_interfaces:
        config:
          - name: "{{ item }}"
            mode: access
            access:
              vlan: 99
        state: merged
      loop: "{{ unused_interfaces }}"
      when: unused_interfaces is defined
      tags: unused_interfaces

    - name: Unused Interfaces - Shutdown
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item }}"
            description: "Unused Port"
            enabled: False
        state: merged
      loop: "{{ unused_interfaces }}"
      when: unused_interfaces is defined
      tags: unused_interfaces

    - name: Configure Port-Channel Interfaces Members
      cisco.ios.ios_lag_interfaces:
        config:
          - name: "Port-channel{{ item.id }}"
            members:
              - member: "{{ item.members[0] }}"
                mode: On
              - member: "{{ item.members[1] }}"
                mode: On
        state: merged
      loop: "{{ port_channels }}"
      when: port_channels is defined
      tags: port_channel

    - name: Configure Port-Channel Interface
      cisco.ios.ios_interfaces:
        config:
          - name: "Port-channel{{ item.id }}"
            description: "{{ item.description }}"
            enabled: True
        state: merged
      loop: "{{ port_channels }}"
      when: port_channels is defined
      tags: port_channel

    - name: Configure Spanning Tree Mode
      cisco.ios.ios_config:
        lines:
          - spanning-tree mode rapid-pvst
          - "spanning-tree vlan {{ stp.root_primary }} root primary"
          - "spanning-tree vlan {{ stp.root_secondary }} root secondary"
      when: stp is defined
      tags: stp

  post_tasks:
    - import_tasks: postTasks.yml