---
- name: Deploy Layer 2 Devices (Internal and Wan Switches)
  hosts: layer2
  gather_facts: no

  pre_tasks:
    - import_tasks: preTasks.yml

  tasks:
    - name: Configure Vlans
      cisco.ios.ios_vlans:
        config:
          - name: "{{ item.name }}"
            state: active
            shutdown: disabled
            vlan_id: "{{ item.id }}"
        state: merged
      loop: "{{ vlans }}"
      when: 
        - vlans is defined
        - item.id not in (management_vlan | default([]))
      tags: vlans

    - name: SVI Interfaces - General
      cisco.ios.ios_interfaces:
        config:
          - name: "Vlan{{ item.vlan_id }}"
            description: "{{ item.description }}"
            enabled: True
        state: merged
      loop: "{{ svis }}"
      when: 
        - svis is defined
        - item.vlan_id not in (management_vlan | default([]))
      tags: svis

    - name: SVI Interfaces - IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "Vlan{{ item.vlan_id }}"
            ipv4:
              - address: "{{ item.ipv4.address }}/{{ item.ipv4.prefix }}"
            ipv6:
              - address: "{{ item.ipv6.address | default(omit) }}"
                link_local: "{{ item.ipv6.link_local if item.ipv6.link_local is defined else omit }}"
        state: merged
      loop: "{{ svis }}"
      when: 
        - svis is defined
        - item.vlan_id not in (management_vlan | default([]))
      tags: svis

    - name: Trunk Ports - Force encapsulation dot1q
      cisco.ios.ios_config:
        parents:
          - "interface {{ item.name }}"
        lines:
          - "switchport trunk encapsulation dot1q"
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Trunk Ports - Allowed Vlans
      cisco.ios.ios_l2_interfaces:
        config:
          - name: "{{ item.name }}"
            mode: trunk
            trunk:
              native_vlan: "{{ item.trunk.native_vlan }}"
              allowed_vlans: "{{ item.trunk.allowed_vlans }}"
              encapsulation: dot1q
        state: merged
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Trunk Ports - Deactivate DTP
      cisco.ios.ios_config:
        parents: "interface {{ item.name }}"
        lines:
          - "switchport nonegotiate"
      loop: "{{ l2_interfaces }}"
      when: 
        - item.trunk is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, trunk_ports

    - name: Access Ports - Vlan
      cisco.ios.ios_l2_interfaces:
        config:
          - name: "{{ item.name }}"
            mode: access
            access:
              vlan: "{{ item.access.vlan }}"
            voice:
              vlan: "{{ item.access.voice_vlan | default(omit) }}"
        state: merged
      loop: "{{ l2_interfaces }}"
      when: 
        - item.access is defined
        - item.name not in (management_interface | default([]))
      tags: l2_interfaces, access_ports

    - name: L2 Interfaces - General
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.name }}"
            description: "{{ item.description | default(omit) }}"
            enabled: True
        state: merged
      loop: "{{ l2_interfaces }}"
      when: item.name not in (management_interface | default([]))
      tags: l2_interfaces

    - name: Unused Interfaces - Vlan
      cisco.ios.ios_l2_interfaces:
        config:
          - name: "{{ item }}"
            mode: access
            access:
              vlan: 99
        state: merged
      loop: "{{ unused_interfaces }}"
      when: unused_interfaces is defined
      tags: unused_interfaces

    - name: Unused Interfaces - Shutdown
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item }}"
            description: "Unused Port"
            enabled: False
        state: merged
      loop: "{{ unused_interfaces }}"
      when: unused_interfaces is defined
      tags: unused_interfaces

  post_tasks:
    - import_tasks: postTasks.yml