---
- name: Deploy Layer 3 Devices (Routers and DHCP-SRV)
  hosts: layer3
  gather_facts: no

  pre_tasks:
    - import_tasks: preTasks.yml

  tasks:
    - name: Configure L3 Interfaces
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.name }}"
            description: "{{ item.description | default(omit)}}"
            enabled: True
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: Configure L3 Interfaces IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "{{ item.name }}"
            ipv4:
              - address: "{{ item.ipv4.address | default(omit) }}/{{ item.ipv4.prefix | default(omit) }}"
            ipv6:
              - address: "{{ item.ipv6.address | default(omit) }}"
        state: merged
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - item.name not in (management_interface | default([]))
      tags: l3_interfaces

    - name: Enable Parent Interface for Subinterfaces
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.parent }}"
            enabled: True
        state: merged
      loop: "{{ subinterfaces }}"
      when: subinterfaces is defined
      tags: subinterfaces

    - name: Configure Subinterfaces
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ item.parent }}.{{ item.vlan }}"
            description: "{{ item.description }}"
            enabled: True
        state: merged
      loop: "{{ subinterfaces }}"
      when: 
        - subinterfaces is defined
        - item.parent ~ '.' ~ item.vlan not in (management_interface | default([]))
      tags: subinterfaces

    - name: Configure Subinterfaces Encapsulation
      cisco.ios.ios_config:
        parents: "interface {{ item.parent }}.{{ item.vlan }}"
        lines: "encapsulation dot1q {{ item.vlan }}"
      loop: "{{ subinterfaces }}"
      when: 
        - subinterfaces is defined
        - item.parent ~ '.' ~ item.vlan not in (management_interface | default([]))
      tags: subinterfaces

    - name: Configure Subinterfaces IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: "{{ item.parent }}.{{ item.vlan }}"
            ipv4: 
              - address: "{{ item.ipv4.address | default(omit) }}/{{ item.ipv4.prefix | default(omit) }}"
            ipv6: 
              - address: "{{ item.ipv6.address | default(omit) }}"
                link_local: "{{ item.ipv6.link_local if item.ipv6.link_local is defined else omit }}"
        state: merged
      loop: "{{ subinterfaces }}"
      when: 
        - subinterfaces is defined
        - item.parent ~ '.' ~ item.vlan not in (management_interface | default([]))
      tags: subinterfaces

    - name: Configure DHCP excluded addresses
      cisco.ios.ios_config:
        lines:
          - "ip dhcp excluded-address {{ item.excluded.start }} {{ item.excluded.end }}"
      loop: "{{ dhcp_pools }}"
      when: 
        - dhcp_pools is defined
        - item.excluded is defined
      tags: dhcp

    - name: Configure IPv4 DHCP pools
      cisco.ios.ios_config:
        parents: "ip dhcp pool {{ item.name }}"
        lines:
          - "network {{ item.network.address }} {{ item.network.netmask }}"
          - "default-router {{ item.gateway.default_router }}"
      loop: "{{ dhcp_pools }}"
      when:
        - dhcp_pools is defined
        - item.network is defined
        - item.gateway is defined
      tags: dhcp

    - name: Configure IPv6 DHCP pools
      cisco.ios.ios_config:
        parents: "ipv6 dhcp pool {{ item.name }}"
        lines:
          - "address prefix {{ item.prefix }}"
      loop: "{{ dhcpv6_pools }}"
      when: dhcpv6_pools is defined
      tags: dhcpv6

    - name: Configure IPv6 DHCP server on subinterfaces
      cisco.ios.ios_config:
        parents: "interface {{ item.parent }}.{{ item.vlan }}"
        lines:
          - "ipv6 dhcp server {{ item.ipv6.dhcpv6_pool }}"
          - "ipv6 nd managed-config-flag"
          - "ipv6 nd other-config-flag"
      loop: "{{ subinterfaces }}"
      when: item.ipv6.dhcpv6_pool is defined
      tags: dhcpv6

    - name: Configure Static Routes
      cisco.ios.ios_static_routes:
        config:
          - address_families:
              - afi: ipv4
                routes:
                  - dest: "{{ item.dest }}/{{ item.prefix }}"
                    next_hops:
                      - forward_router_address: "{{ item.next_hop }}"
                        distance_metric: "{{ item.ad | default(omit) }}"
        state: merged
      loop: "{{ static_routes }}"
      when: static_routes is defined
      tags: static_routes

  post_tasks:
    - import_tasks: postTasks.yml